<!DOCTYPE html>
<html>
  <head>
    <title>Photogram</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" media="all" href="/assets/application-bdc41703cdd40ee0bb23ec84834f19357253bf0389f1a3bbad78ccaba6b42006.css" />
    <script src="/assets/application-dab16668215e066fe8dd576214484bfdb43dbbf0f69226f21fb7036519fb1499.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container">
      <h1>Edit Photo <%=@photo.id%></h1>

<form action="/update_photo/<%=@photo.id%>">
  <div>
    <label for="source_input">
      Image URL
    </label>

    <input id="source_input" type="text" name="the_source" value="<%=@photo.source%>">
  </div>

  <div>
    <label for="caption_input">
      Caption
    </label>

    <input id="caption_input" type="text" name="the_caption" value="<%=@photo.caption%>">
  </div>

  <button>
    Update Photo
  </button>
</form>

    </div>
  </body>
</html>
